.addBox {

	margin: 0 auto;
	width: 800px;
	height: auto;
	padding: 20px 40px;
	background: #FFF;
	border-radius: 3px;
	box-shadow: $backend-shadow;
	margin-bottom: 150px;

	h1 {
		margin-bottom: 40px;
		width: 100%;
	}

	form {
		width: 100%;

		label {
			width: 100%;
			margin-bottom: 10px;
			position: relative;

			.imgContainer {
				position: relative;
			    width: 50%;
			    margin: 0 auto;
			    overflow: hidden;
			    margin-bottom: 20px;

			    img {
			    	float: left;
			    	width: 100%;
			    	height: auto;
			    }
			}

			input {
				color: #333;
				position: relative;
				padding: 10px;
				padding-left: 20px;
				width: 100%;
				margin-bottom: 15px;
				outline: none;
				border: 1px solid $border-color;
				border-radius: 3px;
				transition: all 0.2s ease-in;

				&:focus ~ .floating-label,
					&:not(:focus):valid ~ .floating-label{
						top: -25px;
						left: 0px;
						font-size: 11px;
						opacity: 1;
					}

					&:focus {
						border: 1px solid $primary-navy;
					}
			}

			input[type=submit] {
				background: $primary-green;
				color: #FFF;
				border: 1px solid darken($primary-green, 10%);
				margin-top: 30px;

				&:hover {
					background: lighten($primary-green, 5%);
					cursor: pointer;
					transform: translateY(-2px);
				}
			}

			.mce-tinymce {
				iframe {
					height: auto !important;
					min-height: 400px;
				}
			}

			.floating-label {
				position: absolute;
				pointer-events: none;
				left: 20px;
				top: 12px;
				transition: 0.2s ease all;
				color: $text-color;
			}

			span {
				top: -25px;
				left: 0px;
				font-size: 11px;
				opacity: 1;
				transition: 0.2s ease all;
				color: $text-color;
			}

		}

	}

}