/* Primary colors */

$primary: #de6161;
$secondary: #2657eb;

//#4568DC
//#B06AB3
$g2-primary:#24C6DC;
$g2-secondary:#2657eb;
$secondary-blue:#54a8e0;

$primary-navy: #6B7C93;
$primary-green: #3ECF8E;

/* Text colors */
$text-color: #6B7C93;
$blue-font: #7795F8;
$gray-font: #95989A;

/* Border colors */
$border-color: #F1F7FB;

/* Background colors */
$graytone-background: #edf2f7;