.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;

    .cube {
        position: relative;
        width: 200px;
        transform-style: preserve-3d;
    }

    .cube div {
        position: absolute;
        width: 200px;
        height: 200px;
        transform-style:preserve-3d;

        &:nth-child(1){
            background-color:#3ecf8e;
        }

        &:nth-child(2){
            background-color:#3ecf8e;
        }

        &:nth-child(3){
            background-color:#3ecf8e;
        }

        &:nth-child(4){
            background-color:#3ecf8e;
        }

        &:nth-child(5){
            background-color:#3ecf8e;
        }

        &:nth-child(6){
            background-color:#3ecf8e;
        }
    }
    .back {
	transform: translateZ(-100px) rotateY(180deg);
    }
    .right {
        transform: rotateY(-270deg) translateX(100px);
        transform-origin: top right;
    }
    .left {
        transform: rotateY(270deg) translateX(-100px);
        transform-origin: center left;
    }
    .top {
        transform: rotateX(-90deg) translateY(-100px);
        transform-origin: top center;
    }
    .bottom {
        transform: rotateX(90deg) translateY(100px);
        transform-origin: bottom center;
    }
    .front {
        transform: translateZ(100px);
    }
}

  @keyframes spin {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }

.cube {
	animation: spin 5s infinite linear;
}