body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}

a{
    color:#fff;
    
    &:hover, &:active, &:focus{

        text-decoration: none;
        color:#fff;
        border-bottom:2px solid #fff;
    }

}

h1, h2, h3, h4, h5, h6{

    color:$text-color;
}