footer{
    position:relative;
    width:100%;
    overflow:hidden;
    padding-top:50px;
    padding-bottom:50px;

    .container{

        &::before{
            content: "\f0ac";
            font-family: "FontAwesome";
            position:absolute;
            color:#333;
            font-size:700px;
            left:0px;
            top:-300px;
            opacity:0.04;
        }

        .row{

            .col-md-6{
                position:relative;

                .envelope-wrapper{
                    position:absolute;
                    height:120px;
                    width:80px;
                    overflow:hidden;
                    left:0;
                    right:0;
                    top:50px;
                    margin:0 auto;

                
                    .env-wrapper-body{
                        position:absolute;
                        bottom:0;
                        width:80px;
                        height:60px;
                        background-color:#3c89bd;
                        overflow:hidden;;

                        .left-side{
                            background-color:#3498db;
                            position:absolute;
                            left:-52px;
                            bottom:0;
                            width:91px;
                            height:100%;
                            transform:skewX(53deg);
                            z-index:190;
                            
                        }

                        .right-side{
                            background-color:#54a8e0;
                            position:absolute;
                            right:-52px;
                            bottom:0;
                            width:91px;
                            height:100%;
                            transform:skewX(-53deg);
                            z-index:200;
                        }
                    }

                        .mail{
                            width:70px;
                            height:100px;
                            background-color:#fff;
                            position:absolute;
                            bottom:-30px;
                            left:0;
                            right:0;
                            margin:0 auto;
                            z-index:150;
                            transition:all 0.2s ease-in;

                            .stamp{
                                position:absolute;
                                left:5px;
                                top:5px;
                                width:10px;
                                height:10px;
                                border-radius:50%;
                                background-color:$graytone-background;
                                z-index:300;
                            }

                            .heading{
                                position:absolute;
                                top:8px;
                                left:20px;
                                width:40px;
                                height:3px;
                                background-color:$graytone-background;
                            }

                            b{
                                position:absolute;
                                top:20px;
                                left:5px;
                                width:60px;
                                height:10px;
                                border-radius:3px;
                                background-color:$graytone-background;

                                &:nth-child(3){
                                    top:40px;
                                }

                                &:nth-child(4){
                                    top:60px;
                                }
                            }
                        }
                }

                .phone{
                    position:relative;
                    height:553px;
                    width:267px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 38px;
                    background: #fff;
                    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
                    margin-left:auto;

                    .camera{
                        position:absolute;
                        top:30px;
                        left:100px;
                        height:7px;
                        width:7px;
                        border-radius:7px;
                        background-color:#f2f2f2;
                    }

                    .speaker{
                        position:absolute;
                        top:31px;
                        left:114px;
                        height:4px;
                        width:50px;
                        border-radius:3px;
                        background-color:#f2f2f2;
                    }

                    .phone-screen{
                        position:relative;
                        width:240px;
                        height:430px;
                        background-color:#f7f7f7;
                        border:2px solid #f2f2f2;
                        border-radius:3px;

                        .md-button{
                            position:absolute;
                            left:0;
                            right:0;
                            top:195px;
                            width:160px;
                            margin:0 auto;
                            color:#fff;
                            background-color:#54a8e0;
                            transition: all 0.2s ease-in;

                            &:hover{
                                background-color:lighten(#54a8e0, 10%);
                                transform:translateY(-1px);
                            }
                        }

                        .browser-form-btn{
                            top:245px;
                            width:200px;
                            background-color:$primary-green;

                            &:hover{
                                background-color:lighten($primary-green, 10%);
                            }
                        }

                        p{
                            padding:0 20px 0 20px;
                            font-size:12px;
                            text-align:center;
                            color:$text-color;
                            position:absolute;
                            bottom:25px;
                        }
                    }

                    .phone-home-button{
                        position:absolute;
                        bottom:15px;
                        width:35px;
                        height:35px;
                        border-radius:50%;
                        background-color:#f2f2f2;
                    }
                }

                .phone-hori{
                    position:relative;
                    top:80px;
                    left:-70px;
                    width: 553px;
                    height: 267px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 38px;
                    background: #fff;
                    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);

                    .camera-hori{
                        position:absolute;
                        top:155px;
                        left:30px;
                        height:7px;
                        width:7px;
                        border-radius:7px;
                        background-color:#f2f2f2;
                    }

                    .speaker-hori{
                        position:absolute;
                        top:94px;
                        left:31px;
                        height:50px;
                        width:4px;
                        border-radius:3px;
                        background-color:#f2f2f2; 
                    }

                    .phone-screen-hori{
                        width:430px;
                        height:240px;
                        background-color:#f7f7f7;
                        border:1px solid #f2f2f2;
                        border-radius:3px;

                        .envelope-wrapper{
                            top:-5px;
                        }

                        .md-button{
                            position:absolute;
                            left:0;
                            right:0;
                            top:135px;
                            width:160px;
                            margin:0 auto;
                            color:#fff;
                            background-color:#54a8e0;
                            transition: all 0.2s ease-in;

                            &:hover{
                                background-color:lighten(#54a8e0, 10%);
                                transform:translateY(-1px);
                            }
                        }

                        .browser-form-btn{
                            top:185px;
                            width:200px;
                            background-color:$primary-green;

                            &:hover{
                                background-color:lighten($primary-green, 10%);
                            }
                        }
                    }

                    .phone-home-button-hori{
                        position:absolute;
                        right:15px;
                        top:45%;
                        width:35px;
                        height:35px;
                        border-radius:50%;
                        background-color:#f2f2f2;
                    }
                }
                h2{
                    margin-top:105px;
                }

                .explain{
                    color:$text-color;
                }

                &:last-child{
                    padding-left:50px;
                }
            }
        }
    }
}