footer{
    position:relative;
    width:100%;
    overflow:hidden;
    padding-top:50px;
    padding-bottom:50px;

    .container{

        &::before{
            content: "\f0ac";
            font-family: "FontAwesome";
            position:absolute;
            color:#333;
            font-size:700px;
            left:0px;
            top:-300px;
            opacity:0.04;
        }

        .row{
            padding-left:40px;
            padding-right:40px;

            @media only screen and (max-width:1199px){
                padding-left:0;
                padding-right:0;
            }

            .col-md-6{
                position:relative;

                @media only screen and (max-width:991px) {
                    text-align:center;
                }  

                .form{
                    position:relative;
                    width:500px;
                    height:500px;
                    box-shadow:$standard-shadow;
                    background-color:#f2f2f2;
                    z-index:300;
                    background-image:url("../img/connection-dots.svg");
                    background-repeat:no-repeat;
                    background-size:950px;
                    background-position-y:-53px;
                    background-position-x:-249px;

                    
                    @media only screen and (max-width:991px) {
                        margin:0 auto;
                    }
                    
                    @media only screen and (max-width:400px){
                        width:90%;
                    }

                    form{
                        padding:9px 13px;
                        padding-top:70px;

                        label{
                            position:relative;
                            width:100%;
                        }
                        input{
                            position:relative;
                            width:100%;
                            padding:5px 15px 5px 15px;
                            margin-bottom:15px;
                            border-radius:3px;
                            border: 1px solid #F1F7FB;

                            &:focus ~ .floating-label,
                            &:not(:focus):valid ~ .floating-label{
                                top: -18px;
                                left: 4px;
                                font-size: 11px;
                                opacity: 1;
                            }
                        }
                        textarea{
                            position:relative;
                            width:100%;
                            padding:15px;
                            border-radius:3px;
                            border: 1px solid #F1F7FB;
                            min-height:200px;
                        }
                        .md-button{
                            display:block;
                            margin:0 auto;
                            width:100px;
                            margin-top:20px;
                            color:#fff;
                            background-color:$primary-green;

                            &:hover{
                            background-color:lighten($primary-green, 10%);
                            }
                        }
                        
                        .floating-label {
                            position: absolute;
                            pointer-events: none;
                            left: 15px;
                            top: 6px;
                            transition: 0.2s ease all;
                            color: $gray-font;
                        }
                    }
                }

                .envelope-wrapper{
                    position:absolute;
                    height:120px;
                    width:80px;
                    overflow:hidden;
                    left:0;
                    right:0;
                    top:50px;
                    margin:0 auto;

                    @media only screen and (max-width:400px){
                        margin-left:160px;
                    }

                
                    .env-wrapper-body{
                        position:absolute;
                        bottom:0;
                        width:80px;
                        height:60px;
                        background-color:#3c89bd;
                        overflow:hidden;;

                        .left-side{
                            background-color:#3498db;
                            position:absolute;
                            left:-52px;
                            bottom:0;
                            width:91px;
                            height:100%;
                            transform:skewX(53deg);
                            z-index:190;
                            
                        }

                        .right-side{
                            background-color:#54a8e0;
                            position:absolute;
                            right:-52px;
                            bottom:0;
                            width:91px;
                            height:100%;
                            transform:skewX(-53deg);
                            z-index:200;
                        }
                    }

                        .mail{
                            width:70px;
                            height:100px;
                            background-color:#fff;
                            position:absolute;
                            bottom:-30px;
                            left:0;
                            right:0;
                            margin:0 auto;
                            z-index:150;
                            transition:all 0.2s ease-in;

                            .stamp{
                                position:absolute;
                                left:5px;
                                top:5px;
                                width:10px;
                                height:10px;
                                border-radius:50%;
                                background-color:$graytone-background;
                                z-index:300;
                            }

                            .heading{
                                position:absolute;
                                top:8px;
                                left:20px;
                                width:40px;
                                height:3px;
                                background-color:$graytone-background;
                            }

                            b{
                                position:absolute;
                                top:20px;
                                left:5px;
                                width:60px;
                                height:10px;
                                border-radius:3px;
                                background-color:$graytone-background;

                                &:nth-child(3){
                                    top:40px;
                                }

                                &:nth-child(4){
                                    top:60px;
                                }
                            }
                        }
                }


                .phone-hori{
                    position:relative;
                    top:5px;
                    left:-160px;
                    width: 553px;
                    height: 267px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 38px;
                    background: #fff;
                    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);

                    @media only screen and (max-width:1319px) {
                        left:-130px;
                    }

                    @media only screen and (max-width:1199px) {
                        left:-90px;
                    }

                    @media only screen and (max-width:991px) {
                        left:0;
                        margin:0 auto;
                        margin-bottom:40px;
                    }

                    .camera-hori{
                        position:absolute;
                        top:155px;
                        left:30px;
                        height:7px;
                        width:7px;
                        border-radius:7px;
                        background-color:#f2f2f2;
                    }

                    .speaker-hori{
                        position:absolute;
                        top:94px;
                        left:31px;
                        height:50px;
                        width:4px;
                        border-radius:3px;
                        background-color:#f2f2f2; 
                    }

                    .phone-screen-hori{
                        width:430px;
                        height:240px;
                        background-color:#f7f7f7;
                        border:1px solid #f2f2f2;
                        border-radius:3px;

                        .envelope-wrapper{
                            top:25px;
                        }

                        .md-button{
                            position:absolute;
                            left:0;
                            right:0;
                            top:165px;
                            width:160px;
                            margin:0 auto;
                            color:#fff;
                            background-color:#54a8e0;
                            transition: all 0.2s ease-in;

                            @media only screen and (max-width:400px){
                                margin-left:120px;
                            }

                            &:hover{
                                background-color:lighten(#54a8e0, 10%);
                                transform:translateY(-1px);
                            }
                        }

                        .browser-form-btn{
                            top:185px;
                            width:200px;
                            background-color:$primary-green;

                            &:hover{
                                background-color:lighten($primary-green, 10%);
                            }
                        }
                    }

                    .phone-home-button-hori{
                        position:absolute;
                        right:15px;
                        top:45%;
                        width:35px;
                        height:35px;
                        border-radius:50%;
                        background-color:#f2f2f2;
                    }
                }

                .title-box{
                    margin-left:20px;
                    margin-top:65px;
                    margin-bottom:45px;

                    @media only screen and (max-width:1199px) {
                        margin-left:70px;
                    }

                    @media only screen and (max-width:991px){
                        display:table;
                        margin:0 auto;
                        margin-bottom:25px;
                    }

                    .explain{
                        color:$text-color;
                    }
                }

                &:last-child{
                    padding-left:50px;

                    @media only screen and (max-width:991px){
                        padding:0;
                    }
                }
            }
        }
    }
}