.intro{
    position:relative;
    margin-top:400px;
    margin-bottom:300px;

    .container{

        .row{

            .col-md-6{

                .text-wrapper{
                    position:relative;
                    z-index:999;
                    
                    h2{
                        margin-bottom:20px;
                    }

                    p{
                        margin-bottom:15px;
                        a{
                            color:$primary;

                            &:hover{

                                text-decoration: none;
                                color:darken($primary, 10%);
                                border:none;
                            }
                        }
                    }
            }

                img{
                    position:absolute;
                    bottom:-720px;
                    width:154%;
                    right:-305px;
                    z-index:20;
                    
                }
            }
        }
    }
}