.intro{
    position:relative;
    margin-top:400px;
    margin-bottom:300px;

    .container{

        .row{

            .col-md-6{

                h2{
                    margin-bottom:20px;
                }

                p{
                    margin-bottom:15px;
                    a{
                        color:#6772E5;

                        &:hover{

                            text-decoration: none;
                            color:#32325d;
                            border:none;
                        }
                    }
                }

            }
        }
    }
}