.intro{
    position:relative;
    margin-top:400px;
    margin-bottom:220px;

    .container{

        .row{

            .col-md-6{

                .text-wrapper{
                    position:relative;
                    z-index:999;

                    h4{
                        color:$gray-font;
                    }
                    
                    h2{
                        margin-bottom:50px;
                        display:inline-block;
                        padding-bottom:15px;
                        border-bottom:4px solid $secondary-blue;
                    }
            }

                img{
                    position:absolute;
                    bottom:-720px;
                    width:154%;
                    right:-305px;
                    z-index:20;
                    
                    @media only screen and (max-width:991px){
                        display:none;
                    }
                }
            }
        }
    }
}