.popupActive{
  display:block!important;
}

.popupc{
  display: none;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.75);

  .popup-content {
    position:relative;
    margin: 15% auto;
    width: 800px;
    padding:30px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color:#fff;
    border-radius:5px;

    .close-popup{
      float:right;

      &:hover{
        color:lighten(#333, 50%);
      }
    }

    form{
      input{
        width:100%;
        padding:5px 15px 5px 15px;
        margin-bottom:15px;
        border-radius:3px;
        border: 1px solid $text-color;
      }
      textarea{
        width:100%;
        padding:15px;
        border-radius:3px;
        border: 1px solid $text-color;
        min-height:200px;
      }
      .md-button{
        display:block;
        margin:0 auto;
        width:100px;
        margin-top:20px;
        color:#fff;
        background-color:$primary-green;

        &:hover{
          background-color:lighten($primary-green, 10%);
        }
      }
    }
  }

    .referenceActive{
    margin:135px auto;

    @media only screen and (max-width:880px){
      width:500px;
      margin-top:25px;
    }
  }
}