.reference{
    background-color:$graytone-background;
    height:520px;
    width:100%;
    background-image:url('../img/dots.svg');
    background-repeat:no-repeat;
    background-position:85%;

    .container{

        .row{

            .col-md-6{
                .reference-text-wrapper{
                    padding-top:60px;
                    max-height:520px;
                    overflow:hidden;

                    &::before{
                        content: ' ';
                        position:absolute;
                        bottom:0;
                        background-color:black;
                        height:180px;
                        width:100%;
                        background: -moz-linear-gradient(to bottom, transparent 0%, rgba(237,242,247,0.5) 16%, #edf2f7 62%);
                        background: -webkit-linear-gradient(to bottom, transparent 0%, rgba(237,242,247,0.5) 16%, #edf2f7 62%);
                        background: linear-gradient(to bottom, transparent 0%, rgba(237,242,247,0.5) 16%, #edf2f7 62%);
                    }

                    button{
                        position:absolute;
                        bottom:30px;
                        left:0;
                        background-color:#fff;
                        padding-left:15px;
                        padding-right:15px;
                    }

                    h2{
                    
                    }

                    .fa-quote-left{
                        color:$text-color;
                        font-size:40px;
                    }
                }
                .image-container{
                    position:relative;
                    height:520px;
                    img{
                        position:absolute;
                        bottom:0;
                        left:0;
                        right:0;
                        margin:0 auto;
                    }
                    .text-heading{
                        position:absolute;
                        right:0;
                        bottom:25px;
                        
                        p{
                            color:$text-color;
                        }

                        p:first-child{
                            font-size:18px;
                        }
                    }
                }
            }
        }
    }
}