.reference{
    background-color:$graytone-background;
    width:100%;
    background-image:url('../img/dots.svg');
    background-repeat:no-repeat;
    background-position-x:85%;
    background-position-y:330px;
    background-size:400px;
    padding-top:160px;
    box-shadow:$standard-shadow;

    @media only screen and (max-width:400px){
        padding-top:90px;
    }

    .container{

        .title-box{
            text-align:center;
            margin-bottom:50px;
            h4{
                color:$gray-font;
            }
            h2{
                margin-bottom:20px;
            }
            .custom-hr{
                width:140px;
            }
        }

        .row{

            .col-md-6{

                &:last-child{
                    
                    @media only screen and (max-width:991px) {
                        display:none;
                    }  
                }

                .reference-text-wrapper{
                    padding-top:60px;
                    max-height:520px;
                    overflow:hidden;

                    &::before{
                        content: ' ';
                        position:absolute;
                        bottom:0;
                        background-color:black;
                        height:370px;
                        width:100%;
                        background: -moz-linear-gradient(to bottom, transparent 0%, rgba(237,242,247,0.5) 16%, $graytone-background 62%);
                        background: -webkit-linear-gradient(to bottom, transparent 0%, rgba(237,242,247,0.5) 16%, $graytone-background 62%);
                        background: linear-gradient(to bottom, transparent 0%, rgba(237,242,247,0.5) 16%, $graytone-background 62%);
                    }

                    button{
                        position:absolute;
                        bottom:70px;
                        left:0;
                        padding-left:15px;
                        padding-right:15px;

                        @media only screen and (max-width:400px){
                            right:0;
                            margin:0 auto;
                            width:270px;
                        }
                    }

                    h2{
                    
                    }

                    .fa-quote-left{
                        color:$text-color;
                        font-size:40px;
                    }
                }
                .image-container{
                    position:relative;
                    height:520px;
                    img{
                        position:absolute;
                        bottom:0;
                        left:0;
                        right:0;
                        margin:0 auto;
                        width:240px;
                    }
                    .text-heading{
                        position:absolute;
                        right:0;
                        bottom:60px;
                        
                        p{
                            color:$text-color;
                        }

                        p:first-child{
                            font-size:18px;
                            margin-bottom:0;
                        }
                    }
                }
            }
        }
    }
}