//Variables
$skillset-height: 1300px;

.skillset{
    height:$skillset-height;
    position:relative;
    background-color:rgb(250,250,250);
    z-index:100;
    padding-bottom:200px;

    .blue-circle{
        background-color:$secondary-blue!important;
        transition:all 0.2s ease-in;
    }

    .skillset-background{
        height:$skillset-height;
        position:absolute;
        width:100%;
        transform:skewY(-9deg);
        background-color:$graytone-background;
        z-index:-10;
        overflow:hidden;
        box-shadow:$standard-shadow;

        @media only screen and (max-width:1199px){
            height:1730px;
        }

        @media only screen and (max-width:400px){
            height:1790px;
        }

        .connection-dots{
            transform:skewY(9deg);
            position:absolute;
            width:610px;
            right:-80px;
            top:-60px;
            opacity:0.8;
        }
    }



    .container{
        padding-top:200px;

        @media only screen and (max-width:400px){
            padding-top:120px;
            margin-bottom:50px;
        }

        .row{
            .showfirst{
                z-index:500;   
            }

            .text-box{
                padding-top:70px;
                padding-left:30px;
                text-align:left;

                @media only screen and (max-width:1199px){
                    margin-top:-550px;
                }

                h4{
                    color:$gray-font;
                }
                h2{
                    margin-bottom:40px;
                }

            }
        }

        .title-box{
            h2{
                text-align:center;
                color:#333;
            }

            h4{
                text-align:center;
                color:$gray-font;
            }
            .custom-hr{
                width:110px;
                transition:all 0.2s ease-in;
            }
            .red-hr{
                border-bottom:4px solid $primary;
                transition:all 0.2s ease-in;
            }
        }
    }

        .row{     
            .tile-wrapper{
                position:relative;
                padding-right:85px;

                @media only screen and (max-width:1199px){
                    margin-top:340px;
                }

                .tile-overlay{
                    margin-top:120px;
                    height:700px;
                    width:100%;
                    padding-left:120px;
                    padding-right:60px;
                    padding-top:60px;
                    box-shadow:$large-shadow;
                    position:absolute;
                    right:80px;
                    background:linear-gradient(160deg, #fff 23%, $primary 92%);
                    z-index:30;

                    @media only screen and (max-width:400px){
                        margin-top:260px;
                        right:40px;
                        padding-right:40px;
                        padding-left:90px;
                        height:750px;
                    }

                    .button-wrapper{
                        display:table;
                        margin:0 auto;

                        @media only screen and (max-width:400px){
                            text-align:center;
                        }
                        .md-button{
                            width:150px;
                            &:first-child{
                                background-color:#fff;
                                color:$gray-font;
                                &:hover{
                                    box-shadow:$hover-shadow;
                                }
                            }
                            &:last-child{
                                background-color:#fff;
                                color:$gray-font;
                                &:hover{
                                    box-shadow:$hover-shadow;
                                }
                            }
                        }
                        .blue-btn{
                            background-color:$secondary-blue;
                            color:#fff!important;
                        }
                        .red-btn{
                            background-color:$primary;
                            color:#fff!important;
                        }
                    }

                    .skill-explain{
                        display:table;
                        margin:0 auto;
                        margin-top:35px;
                        text-align:center;
                        span{
                            display:inline-block;
                            width:35px;
                            height:35px;
                            border-radius:50%;
                            background-color:$primary;
                            margin-right:15px;
                            box-shadow:$standard-shadow;
                            transition: all 0.2s ease-in;

                            &:hover{
                                transform:translateY(-1px);
                                box-shadow:$hover-shadow;
                            }
                        }
                        p{
                            font-size:11px;
                            margin-top:15px;
                        }
                    }

                    ul{
                        list-style:none;
                        padding-left:0;
                        width:340px;
                        display:table;
                        margin:0 auto;

                        @media only screen and (max-width:400px){
                            width:100%;
                        }
                        li{
                            margin-top:15px;
                            margin-bottom:15px;
                            padding:9px 13px;
                            box-shadow:$standard-shadow;
                            border-radius:5px;
                            background:#fff;
                            transition:all 0.2s ease-in;

                            &:hover{
                                transform:translateY(-1px);
                                box-shadow:$hover-shadow;
                            }

                            .level-wrapper{
                                float:right;
                                position:relative;
                                width:65px;
                                span{
                                    position:relative;
                                    display:inline-block;
                                    left:0;
                                    width:10px;
                                    height:10px;
                                    border-radius:50%;
                                    background-color:$primary;
                                }
                            }
                        }
                    }

                    .circle-div{
                        position:absolute;
                        right:-50px;
                        top:40%;
                        width:100px;
                        height:100px;
                        border-radius:50%;
                        background-color:$primary;
                        transition:all 0.2s ease-in;

                        @media only screen and (max-width:400px){
                            right:-24px;
                            top:-3%;
                        }

                        i{
                            color:#fff;
                            position:absolute;
                            left:31px;
                            top:34px;
                            margin:0 auto;
                            font-size:35px;
                        }
                    }
                } 
                .tile-gradient{
                    height:700px;
                    width:900px;
                    position:absolute;
                    right:200px;
                    margin-top:170px;
                    box-shadow:$large-shadow;
                    z-index:20;
                    background:linear-gradient(150deg, $primary 63%, lighten($primary, 20%) 109%);
                    transition: all 0.2s ease-in;

                    @media only screen and (max-width:400px){
                        margin-top:300px;
                        height:750px;
                    }
                }
                .tile-gradient-blue{
                    background:linear-gradient(150deg, $secondary-blue 63%, lighten($secondary-blue, 20%) 109%);
                    transition: all 0.2s ease-in;
                }
            }
        }

}