.tree-git{
    position:relative;
    width:100%;
    padding-top:200px;
    padding-bottom:200px;

    .container{

        .title-box{
            text-align:center;
            h4{
                color:$gray-font;
            }
            h2{
                margin-bottom:20px;
            }
            p{
                color:$gray-font;
                font-size:12px;
            }
            .custom-hr{
                margin-bottom:120px;
            }
        }
        .row{
            .col-md-6{
                h2{
                    font-size:18px;
                    margin-bottom:30px;
                }

                p{

                }

                //Treehouse
                &:first-child{
                   
                    .logo-img-tree{
                        width:60%;
                        margin-bottom:40px;
                        margin-top:40px;
                    }

                    .badge-intro{
                        margin-top:20px;
                    }

                    .badge-container{
                        max-width:400px;

                        figure{
                            display:inline-block;

                            .tree-badge{
                            width:50px;
                            margin-top:10px;
                            margin-right:10px;

                            &:hover{
                                transform: translateY(-1px);
                            }
                            }
                        }
                    }
                    ul{
                        width:190px;
                        margin-top:50px;
                        margin-bottom:50px;
                        list-style:none;
                        padding:0;

                        li{
                            text-transform:uppercase; 
                            position:relative;
                            background-color:#6dbd6d;
                            background:linear-gradient(3234deg, #fff -116%, #6dbd6d 94%);
                            color:#fff;
                            box-shadow:$standard-shadow;
                            padding:9px 13px;
                            border-radius:5px;
                            margin-bottom:10px;
                            transition:all 0.2s ease-in;

                            &:hover{
                                transform:translateY(-1px);
                                box-shadow:$hover-shadow;
                                background:#6dbd6d;
                            }
                            
                            span{
                            display:inline-block;
                            float:right;
                            }
                        }
                    }
                }

                
                //Github section
                &:last-child{
                    text-align:right;
                     border-left:1px solid #eee;
                    .logo-img-git{
                        width:60%;
                        margin-top:13px;
                        margin-bottom:13px;
                    }

                    p{
                        margin-bottom:45px;
                    }

                    ul{
                        list-style: none;
                        width:445px;
                        text-align:center;
                        padding:0;
                        margin-left:auto;

                        a:hover{
                            border:none;
                        }

                        li{
                            position:relative;
                            width:190px;
                            height:80px;
                            background-color:#fff;
                            margin:5px;
                            padding:10px 15px 10px 15px;
                            border-radius:5px;
                            display:inline-block;
                            text-align:center;
                            box-shadow:$standard-shadow;
                            overflow:hidden;
                            color:#333;
                            transition:all 0.2s ease-in;

                            &:hover{
                                transform:translateY(-1px);
                                box-shadow:$hover-shadow;
                            }
                            
                            a{
                                color:#333;
                                font-size:14px;
                            }

                            p{
                                font-size:12px;
                                color:$text-color;
                            }

                            .desc{
                                font-size:12px;
                                margin:0;
                            }
                        }

                            h3{

                                font-size:17px;
                                text-align:center;
                            }
                    }
                }
            }
        }
    }
}